{% extends 'admin/base_site.html' %}
{% block content %}
    <div class="container">
    <h1> Fun weather testing</h1>
    <p>
        This API allows the user the get a weather report using open weather map
    </p>
    </div>
    <div class="container">
        <form method="post" action="/temperature/">
            {% csrf_token %}
            <div class="form-group">
                <label>City: </label>
                <input class="form-control" type="text" name="city" id="city" placeholder="City Name">
            </div>
            <div class="form-group">
                <label>Period</label>
                <input class="form-control" type="number" name="period" id="period"
                       placeholder="Number of days from 1 to 16 days">
            </div>
            <input class="btn btn-primary" type="submit">
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <canvas width="400" height="400" id="average_temperature"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas width="400" height="400" id="median_temp"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas width="400" height="400" id="max_temp"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas width="400" height="400" id="min_temp"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas width="400" height="400" id="humidity"></canvas>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

        var config1 = {
            type: 'bar',
            data: {
                datasets: [{
                    data: {{ data_temp|safe }},
                    backgroundColor: [
                        '#ff0000', '#ffa07a', '#f08080', '#ff6347', '#cd5c5c', '#da1d81', '#ee82ee', '#a50b5e'
                    ],
                    label: 'Average Temperature'
                }],
                labels: {{ labels|safe }}
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
            }
        };

        var config2 = {
            type: 'horizontalBar',
            data: {
                datasets: [{
                    data: {{ data_max_temp|safe }},
                    backgroundColor: [
                        '#0000cd', '#483d8b', '#191970', '#C0C0C0', '#191970'
                    ],
                    label: 'Maximum Temperature'
                }],
                labels: {{ labels|safe }}
            },
            options: {
                maintainAspectRatio: false,
                responsive: true
            }
        };

        var config3 = {
            type: 'horizontalBar',
            data: {
                datasets: [{
                    data: {{ data_min_temp|safe }},
                   backgroundColor: [
                        '#0000cd', '#483d8b', '#191970', '#C0C0C0', '#191970'
                    ],
                    label: 'Min Temperature'
                }],
                labels: {{ labels|safe }}
            },
            options: {
                maintainAspectRatio: false,
                responsive: true
            }
        };

        var config4 = {
            type: 'bar',
            data: {
                datasets: [{
                    data: {{ data_humidity|safe }},
                    backgroundColor: [
                        '#cf3476', '#cc00ff', '#df00ff', '#ff0090', '#ca2c92'
                    ],
                    label: 'Humidity'
                }],
                labels: {{ labels|safe }}
            },
            options: {
                maintainAspectRatio: false,
                responsive: true
            }
        };

        var config5 = {
            type: 'bar',
            data: {
                datasets: [{
                    data: {{ data_tem_median|safe }},
                     backgroundColor: [
                        '#ff0000', '#ffa07a', '#f08080', '#ff6347', '#cd5c5c', '#da1d81', '#ee82ee', '#a50b5e'
                    ],
                    label: 'Median Temperature'
                }],
                labels: {{ labels|safe }}
            },
            options: {
                maintainAspectRatio: false,
                responsive: true
            }
        };

        window.onload = function () {
            var ctx1 = document.getElementById('average_temperature').getContext('2d');
            var ctx3 = document.getElementById('min_temp').getContext('2d');
            var ctx2 = document.getElementById('max_temp').getContext('2d');
            var ctx4 = document.getElementById('humidity').getContext('2d');
            var ctx5 = document.getElementById('median_temp').getContext('2d');
            window.myPie = new Chart(ctx1, config1);
            window.myPie = new Chart(ctx2, config2);
            window.myPie = new Chart(ctx3, config3);
            window.myPie = new Chart(ctx4, config4);
            window.myPie = new Chart(ctx5, config5);
        };


    </script>
{% endblock content %}